<section>
	{{ formInput types.field name="types" options=types.options }}
	{{ formInput folders.field name="folder" options=folders.options }}
	<button type="submit">
		<i class="fa-solid fa-download" inert></i> {{ localize "BFTools.Parser.Save" }}
	</button>
</section>
