.black-flag-tools.importer {
	.window-content > section {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.summary p {
		margin-block-end: 0;
		font-size: var(--font-size-14);
		font-family: var(--bf-font-primary);
	}
	h3 {
		margin: 0;
		border: none;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-header);
		font-size: var(--font-size-20);
		text-shadow: none;
	}
}
